<h1><%= I18n.t('broadcasts.details') %></h1>
<p>
  <b><%= I18n.t('broadcasts.date-attempted') %>:</b>
  <%= @broadcast.created_at %>
</p>

<p>
  <b><%= I18n.t('broadcasts.feeds') %>:</b>
  <%= display_feeds @broadcast %>
</p>

<br/><br/>
<p>
  <%= sanitize @broadcast.content %>
</p>

<br/><br/>
<%= link_to I18n.t('back'), broadcasts_path(page: @current_page) %>
